@model Litmus.Models.MasterUnitModel

@{
    ViewBag.Title = "Index";
}


<div>
    <h2>Unit Details</h2>
    <hr />

    <table class="table">      
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CompanyCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CompanyCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Code)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CrushingSeason)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CrushingSeason)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ReportStartTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ReportStartTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CrushingStartDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CrushingStartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CrushingEndDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CrushingEndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DayHours)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DayHours)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EntryDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProcessDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProcessDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NewMillCapacity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NewMillCapacity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OldMillCapacity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OldMillCapacity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IsActive)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Createdy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Createdy)
                </td>
            </tr>
       
    </table>
</div>
